@import url('main.css');
:root {
  --ebony: #2D2D2B;
  --sandstone: #B8926B;
  --linen: #EAE5DF;
  --cloudy: #B0B0B0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--cloudy);
  opacity: 0.25;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--linen);
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Just Another Hand", cursive;
  letter-spacing: 0.25rem;
}

p, input {
  font-family: 'Source Sans 3', sans-serif;
}

a:hover, button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  transition: 0.25s ease;
}

button:hover {
  color: var(--sandstone);
  background-color: var(--ebony);
}

input[type="submit"] {
  transition: 0.25s ease;
  font-size: 1rem;
}

input[type="submit"]:hover {
  color: var(--sandstone);
  background-color: var(--ebony);
}

body {
  background-color: var(--ebony);
}

nav {
  background-color: transparent;
  color: var(--linen);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  
}

nav a {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.25rem;
  transition: 0.25s ease;
}

nav a:hover {
  border-bottom: 2px solid var(--linen);
}

#nav-logo {
  max-width: 125px;
}

.nav-container {
  margin: 0 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--linen);
  background-color: #B0B0B088;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.modal-wrap, .edit-modal-wrap {
  padding: 2.5rem;
  background-color: var(--ebony);
  display: flex;
  gap: 2rem;
  align-content: center;
  justify-content: space-between;
}

.modal-wrap {
  width: 1000px;
  flex-direction: row;
}

.edit-modal-wrap {
  width: 500px;
  flex-direction: column;
}

.modal-image {
  height: 450px;
  width: 300px;
  object-fit: cover;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.modal-icon {
  height: 37.5px;
  width: 37.5px;
  margin-bottom: 1rem;
  object-fit: cover;
  display: flex;
  align-self: flex-end;
}

.modal-icon:hover {
  cursor: pointer;
}

.modal-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.modal-difficulty {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modal-description {
  font-size: 1.125rem;
  text-align: justify;
  margin-bottom: 0.75rem;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.enroll-button, .modal-button {
  width: 35%;
  padding: 0 1.5rem;
  height: 37.5px;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.enroll-button p, .modal-button p {
  font-size: 1.25rem;
}

.enroll-button:hover, .modal-button:hover {
  color: var(--ebony);
  background-color: var(--cloudy);
}

.editing-container {
  padding: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.single-editing {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.single-editing label {
  font-size: 1.5rem;
  font-family: 'Source Sans 3', sans-serif;
  color: var(--linen);
}

.cancel-save-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem
}

.cancel-save-button {
  width: 50%;
  padding: 0 1.5rem;
  height: 37.5px;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.cancel-save-button p {
  font-size: 1.25rem;
}

.hero-banner-container {
  margin-bottom: 3rem;
  height: 400px;
  width: 100%;
  position: relative;
}

.hero-banner {
  height: 400px;
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.banner-quote {
  top: 50%;
  left: 50%;
  width: 700px;
  color: var(--linen);
  position: absolute;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.divider {
  margin: 0 6rem 3rem 6rem;
  padding-left: 1em;
  border-left: 0.5rem solid var(--sandstone);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--linen)
}

.single-wrapper .divider {
  margin: 0
}

.divider h3 {
  font-size: 2rem;
}

.card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.cards {
  padding: 1rem;
  width: 300px;
  background-color: var(--cloudy);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-content: center;
  justify-content: space-between;
}

.card-image-container {
  height: 375px;
  width: 300px;
  align-self: center;
}

.card-image {
  height: 375px;
  width: 300px;
  object-fit: cover;
}

.cards h4 {
  color: var(--ebony);
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

.card-button {
  padding: 0 1.5rem;
  height: 37.5px;
  width: 47.5%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.in-hero-banner {
  top: 50%;
  left: 50%;
  width: 700px;
  color: var(--linen);
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.in-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.in-hero-banner .banner-quote {
  position: initial;
  font-size: 3rem;
  text-transform: uppercase;
  transform: none;
}

.banner-button {
  padding: 0.25rem 1.5rem;
  width: 25%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.image-content-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
}

.image-container {
  height: 400px;
  width: 550px;
}

.left-image, .right-image {
  height: 400px;
  width: 550px;
  object-fit: cover;
}

.content-container {
  padding: 3rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-container h2 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

.content-container p {
  text-align: justify;
  font-size: 1.25rem;
}

.test-card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.test-card {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.test-image-container {
  height: 250px;
  width: 250px;
}

.test-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.test-card-content {
  padding: 1.25rem;
  height: 100%;
  color: var(--ebony);
  background-color: var(--cloudy);
  font-size: 1.375rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.contact-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.single-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.single-contact p, .single-contact a {
  font-size: 1.5rem;
  font-family: 'Source Sans 3', sans-serif;
  color: var(--linen);
  letter-spacing: initial;
}

.contact-icon {
  height: 50px;
  width: 50px;
}

.icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.container-with-bg {
  padding: 6rem 0;
  height: auto;
  width: 100%;
  background-image: url("../Assets/images/selective.jpg");
  background-size: cover;
  background-blend-mode: color-burn
}

.login-form-container {
  margin: 0 6rem;
  padding: 3rem 0;
  background-color: #B0B0B099;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-content: center;
}

.login-form-container h3 {
  width: 300px;
  color: var(--linen);
  font-size: 4rem;
  letter-spacing: 0.25rem;
  display: flex;
  align-self: center;
  text-align: center;
}

.login-form, .login-wrap {
  margin: 0 3rem;
  font-size: 1.375rem;
  color: var(--linen);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.login-form {
  gap: 2.5rem;
}

.login-button {
  margin: 0 6rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  width: 30%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
  transition: 0.25s ease;
}

.login-button:hover {
  color: var(--sandstone);
  background-color: var(--ebony);
}

.textbox {
  padding: 0.5rem;
  font-family: 'Source Sans 3', sans-serif;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  transition: 0.25s ease;
}

.textbox:focus {
  border: none;
  border-bottom: 2px solid var(--linen);
  outline: none;
  color: var(--sandstone);
  background-color: var(--ebony);
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-bottom: 3rem;
  padding: 0.5rem 0.75rem;
  width: 20%;
  font-family: "Just Another Hand", cursive;
  letter-spacing: 0.25rem;
  border: none;
  font-size: 1.75rem;
  text-align: center;
  color: var(--linen);
  background-color: var(--sandstone);
  transition: 0.25s ease;
}

.search-bar:focus {
  width: 40%;
  border: none;
  outline: none;
  color: var(--ebony);
  background-color: var(--cloudy);
}

.flex-card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.5rem;
  align-content: flex-start;
  align-items: center;
}

.flex-card-container p {
  font-size: 1rem;
}

.fixed-add-button {
  bottom: 1.25rem;
  right: 1.25rem;
  height: 75px;
  width: 75px;
  position: fixed;
  border: none;
  outline: none;
  background-color: var(--cloudy);
  transform: scale(0.75);
}

.fixed-add-button:hover {
  background-color: var(--linen);
}

.fixed-icon-container {
  height: 50px;
  width: 50px;
  margin: auto;
}

.fixed-icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.edit-delete-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.inner-edit-delete {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.inner-button {
  height: 25px;
  width: 25px;
  padding: 0.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--ebony);
  border: none;
  outline: none;
  transition: 0.25s ease;
}

.inner-button:hover {
  background-color: var(--linen);
}

.inner-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.side-by-side-container {
  margin: 0 6rem 3rem 0;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-content: center;
}

.inner-side-by-side {
  display: flex;
  flex-direction: column;
}

.side-by-side-content {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-content: center;
  justify-content: space-between;
}

.profile-container, .function-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

.profile-container p, .function-container p {
  font-size: 1.25rem;
  color: var(--linen);
}

.profile-icon, .function-icon {
  height: 50px;
  width: 50px;
}

.function-button {
  width: 200px;
  padding: 0.25rem;
  background-color: var(--sandstone);
  border: none;
  outline: none;
}

.function-button p {
  color: var(--linen);
  font-size: 1.25rem;
}

.function-button:hover {
  background-color: var(--cloudy);
}

.function-button:hover p {
  color: var(--ebony);
}

p.complete-error-message {
  font-size: 0.75rem;
  color: red;
}

.complete-icon, .admin-icon {
  height: 37.5px;
  width: 37.5px;
  object-fit: cover;
}

.admin-function-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.single-admin-container {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}

.data-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.75rem;
  align-content: center;
  justify-content: space-between;
}

.data-graph-container {
  padding: 1.25rem;
  width: 450px;
  color: var(--linen);
  background-color: #B0B0B099;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data-graph-container h3 {
  font-size: 2.25rem;
}

.data-graph-container p span {
  font-size: 1.25rem;
}

.mcq-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: column;
}

.single-mcq {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.question-divider {
  width: fit-content;
  color: var(--linen);
  font-size: 1.75rem;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--sandstone);
}

.question-container {
  padding: 1.5rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-container p {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: justify;
}

.question-selection {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.radio-button {
  width: 95%;
  color: var(--ebony);
  font-size: 1rem;
  font-family: 'Source Sans 3', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  text-align: justify;
}

.single-excerpt {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
}

.excerpt-image {
  height: 375px;
  width: 300px;
  object-fit: cover;
}

.excerpt-content {
  padding: 1.25rem;
  font-size: 1rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  text-align: justify;
  overflow-y: scroll;
}

.management-container,
.assessment-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-content: center;
  justify-content: center;
}

.single-management {
  display: grid;
  gap: 3rem;
  grid-template: auto / 1fr 1fr 1fr;
}

.single-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-content: flex-start;
  justify-content: space-between;
}

.management-textbox {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  border-bottom: 2px solid transparent;
  border: none;
  outline: none;
  transition: 0.25s ease;
}

.management-textarea {
  height: 150px;
  resize: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  border-bottom: 2px solid transparent;
  border: none;
  outline: none;
  transition: 0.25s ease;
}

.management-file-upload {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  border: none;
  outline: none;
}

.management-textbox:focus,
.management-textarea:focus {
  border: none;
  outline: none;
  color: var(--sandstone);
  background-color: var(--ebony);
  border-bottom: 2px solid var(--linen);
}

.single-management-hr {
  height: 5px;
  width: 50%;
  margin: 0 auto;
  grid-column: 1 / span 3;
  grid-row: auto / span 1;
  background-color: var(--sandstone);
  border: none;
  outline: none;
}

.management-full-span {
  grid-column: 1 / span 3;
  grid-row: auto / span 1;
}

.management-first-col {
  grid-column: 1 / span 1;
  grid-row: auto / span 1;
}

.management-second-col {
  grid-column: 2 / span 1;
  grid-row: auto / span 1;
}

.management-thrid-col {
  grid-column: 3 / span 1;
  grid-row: auto / span 1;
}

.management-container .cancel-save-container,
.assessment-container .cancel-save-container {
  margin-top: 1.5rem;
  width: 50%;
}

.management-container .cancel-save-container .cancel-save-button:hover,
.assessment-container .cancel-save-container .cancel-save-button:hover{
  color: var(--ebony);
  background-color: var(--cloudy);
}

.single-question {
  display: grid;
  gap: 3rem;
  grid-template: auto / 1fr 1fr;
}

footer {
  padding: 3rem 4rem;
  color: var(--ebony);
  background-color: var(--linen);
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}

footer h5 {
  font-size: 0.75rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.footer-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.footer-nav a {
  padding-left: 20px;
  border-left: 5px solid transparent;
  transition: 0.25s ease;
}

.footer-nav a:hover {
  border-left: 5px solid var(--ebony);
}

.footer-contact {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.footer-contact p {
  font-size: 1rem;
}