@import url('main.css');
:root {
  --ebony: #2D2D2B;
  --sandstone: #B8926B;
  --linen: #EAE5DF;
  --cloudy: #B0B0B0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--cloudy);
  opacity: 0.25;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--linen);
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Just Another Hand", cursive;
  letter-spacing: 0.25rem;
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

a:hover, button:hover {
  cursor: pointer;
}

button {
  transition: 0.25s ease;
}

button:hover {
  color: var(--sandstone);
  background-color: var(--ebony);
}

body {
  background-color: var(--ebony);
}

nav {
  background-color: transparent;
  color: var(--linen);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  
}

nav a {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.25rem;
  transition: 0.25s ease;
}

nav a:hover {
  border-bottom: 2px solid var(--linen);
}

#nav-logo {
  max-width: 125px;
}

.nav-container {
  margin: 0 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.hero-banner-container {
  margin-bottom: 3rem;
  height: 400px;
  width: 100%;
  position: relative;
}

.hero-banner {
  height: 400px;
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.banner-quote {
  top: 50%;
  left: 50%;
  width: 700px;
  color: var(--linen);
  position: absolute;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.divider {
  margin: 0 6rem 3rem 6rem;
  padding-left: 1em;
  border-left: 0.5rem solid var(--sandstone);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--linen)
}

.divider h3 {
  font-size: 2rem;
}

.card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.cards {
  padding: 1rem;
  height: 500px;
  width: 300px;
  background-color: var(--cloudy);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-content: center;
  justify-content: space-between;
}

.card-image-container {
  height: 375px;
  width: 300px;
  align-self: center;
}

.card-image {
  height: 375px;
  width: 300px;
  object-fit: cover;
}

.cards h4 {
  color: var(--ebony);
  font-size: 2rem;
  letter-spacing: 0.125rem;
}

.card-button {
  padding: 0 1.5rem;
  height: 37.5px;
  width: 50%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.in-hero-banner {
  top: 50%;
  left: 50%;
  width: 700px;
  color: var(--linen);
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.in-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.in-hero-banner .banner-quote {
  position: initial;
  font-size: 3rem;
  text-transform: uppercase;
  transform: none;
}

.banner-button {
  padding: 0.25rem 1.5rem;
  width: 25%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.image-content-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
}

.image-container {
  height: 400px;
  width: 550px;
}

.left-image, .right-image {
  height: 400px;
  width: 550px;
  object-fit: cover;
}

.content-container {
  padding: 3rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-container h2 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

.content-container p {
  text-align: justify;
  font-size: 1.25rem;
}

.test-card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.test-card {
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.test-image-container {
  height: 250px;
  width: 250px;
}

.test-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.test-card-content {
  padding: 1.25rem;
  height: 100%;
  color: var(--ebony);
  background-color: var(--cloudy);
  font-size: 1.375rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.contact-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.single-contact {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.single-contact p {
  font-size: 1.5rem;
  color: var(--linen);
}

.contact-icon {
  height: 50px;
  width: 50px;
}

.icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.container-with-bg {
  padding: 6rem 0;
  height: auto;
  width: 100%;
  background-image: url("../Assets/images/selective.jpg");
  background-size: cover;
  background-blend-mode: color-burn
}

.login-form-container {
  margin: 0 6rem;
  padding: 3rem 0;
  background-color: #B0B0B099;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-content: center;
}

.login-form-container h3 {
  width: 300px;
  color: var(--linen);
  font-size: 4rem;
  letter-spacing: 0.25rem;
  display: flex;
  align-self: center;
  text-align: center;
}

.login-form, .login-wrap {
  margin: 0 3rem;
  font-size: 1.375rem;
  color: var(--linen);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}

.login-form {
  gap: 2.5rem;
}

.login-button {
  margin: 0 6rem;
  padding: 0.25rem 1.5rem;
  font-size: 1.25rem;
  width: 30%;
  color: var(--linen);
  background-color: var(--sandstone);
  border: none;
}

.textbox {
  padding: 0.5rem;
  font-family: 'Source Sans 3', sans-serif;
  border: none;
  font-size: 1.25rem;
  color: var(--ebony);
  background-color: var(--cloudy);
  transition: 0.25s ease;
}

.textbox:focus {
  border: none;
  color: var(--sandstone);
  background-color: var(--ebony);
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-bottom: 3rem;
  padding: 0.5rem 0.75rem;
  width: 20%;
  font-family: "Just Another Hand", cursive;
  letter-spacing: 0.25rem;
  border: none;
  font-size: 1.75rem;
  text-align: center;
  color: var(--linen);
  background-color: var(--sandstone);
  transition: 0.25s ease;
}

.search-bar:focus {
  width: 40%;
  border: none;
  outline: none;
  color: var(--ebony);
  background-color: var(--cloudy);
}

.flex-card-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.flex-card-container p {
  font-size: 1rem;
}

.fixed-add-button {
  bottom: 1.25rem;
  right: 1.25rem;
  height: 75px;
  width: 75px;
  position: fixed;
  border: none;
  outline: none;
  background-color: var(--cloudy);
  transform: scale(0.75);
}

.fixed-add-button:hover {
  background-color: var(--linen);
}

.fixed-icon-container {
  height: 50px;
  width: 50px;
  margin: auto;
}

.fixed-icon {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.edit-delete-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.inner-edit-delete {
  width: 90px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.inner-button {
  height: 37.5px;
  width: 37.5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--ebony);
  border: none;
  outline: none;
}

.inner-button:hover {
  background-color: var(--linen);
}

.inner-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.side-by-side-container {
  margin: 0 6rem 3rem 0;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-content: center;
}

.inner-side-by-side {
  display: flex;
  flex-direction: column;
}

.side-by-side-content {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-content: center;
  justify-content: space-between;
}

.profile-container, .function-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

.profile-container p, .function-container p {
  font-size: 1.25rem;
  color: var(--linen);
}

.profile-icon, .function-icon {
  height: 50px;
  width: 50px;
}

.function-button {
  width: 200px;
  padding: 0.25rem;
  background-color: var(--sandstone);
  border: none;
  outline: none;
}

.function-button p {
  color: var(--linen);
  font-size: 1.25rem;
}

.function-button:hover {
  background-color: var(--cloudy);
}

.function-button:hover p {
  color: var(--ebony);
}

p.complete-error-message {
  font-size: 0.75rem;
  color: red;
}

.complete-icon, .admin-icon {
  height: 37.5px;
  width: 37.5px;
  object-fit: cover;
}

.admin-function-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.single-admin-container {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}

.data-container {
  margin: 0 6rem 3rem 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.75rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.data-graph-container {
  height: 500px;
  width: 600px;
  background-color: #B0B0B099;
}

footer {
  padding: 3rem 4rem;
  color: var(--ebony);
  background-color: var(--linen);
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}

footer h5 {
  font-size: 0.75rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.footer-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.footer-nav a {
  padding-left: 20px;
  border-left: 5px solid transparent;
  transition: 0.25s ease;
}

.footer-nav a:hover {
  border-left: 5px solid var(--ebony);
}

.footer-contact {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.footer-contact p {
  font-size: 1rem;
}